apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: simple-batch
spec:
  schedule: "*/5 * * * *" # min hour day-of-month month day-of-week
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: simple-batch
              image: ${ECR_HOST}/kazusato/simple-batch:v2
              imagePullPolicy: Always
          restartPolicy: OnFailure
